.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 124rem;
  margin-left: -7rem;
}

.arrow-button {
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.146);
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.arrow-button:focus {
  outline: none;
}

.arrow-button:hover {
  background: black;
  color: white;
}

.small-card {
  width: 220px;  
}

.small-card .ant-card-body {
  padding: 10px;  
}

.small-card .ant-card-meta-title {
  font-size: 16px;  
}

.small-card .ant-card-meta-description {
  font-size: 11px;  
}

.small-card .ant-card-actions li {
  margin: 6px 0;
}

:where(.css-dev-only-do-not-override-17seli4).ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 0;
}